{{!-- start from modal-header, coz modal-header 1st thing starts im modalContent  --}}

<div class="modal-header">
    <h5 class="modal-title" id="modal-cart-label">My Cart ({{itemsCount}} items)</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div class="modal-body">
    {{!-- <p>{{totalCartPrice}}</p> --}}
    {{#each products}}
        <div class="cart-product">
            <img src={{imageURL}} alt={{name}} class="cart-image"/>
            <div class="name-badge">
                <p>{{name}}</p>
                <div class="quant">
                    <div>
                        <span class="badge rounded-pill badge-cart" data-value="dec" data-id={{id}}>-</span>
                        <span>{{incOrDec}}</span>
                        <span class="badge rounded-pill badge-cart" data-value="inc" data-id={{id}}>+</span>
                        <span>x Rs.{{price}}</span>
                    </div> 
                    <p class="total-cart-price">Rs.{{totalProdprice}}</p>
                </div>
            </div>
        </div>
    {{/each}}
    <div class="banner-cheap cart-product">
        {{!-- <div class="cheapest-tag"> --}}
            <img src="../../static/images/lowest-price.png" alt="clowest-price-logo">
            <span>You won't find it cheaper anywhere</span>
        {{!-- </div> --}}
    </div>
</div>
<div class="modal-footer modal-cart-footer">
        <span>Promo code can be applied on payment page</span>
        <button type="button" class="btn btn-bazar price-symbol">
            <span>Proceed To checkout</span>
            <div>
                <span>Rs.{{totalCartPrice}}</span>
                <span class="fas fa-greater-than"></span>
            </div>
        </button>
    </div>