{{!-- <div class="cart-mobTab">

    <div class="cart-header">
        <h5 class="modal-title">My Cart ({{itemsCount}} items)</h5>
    </div>
    <div class="cart-body">
        {{#each products}}
            <div class="cart-product">
                <img src={{imageURL}} alt={{name}} class="cart-image"/>
                <div class="name-badge">
                    <p>{{name}}</p>
                    <div class="quant">
                        <div>
                            <span class="badge rounded-pill badge-cart" data-value="dec" data-id={{id}}>-</span>
                            <span>{{incOrDec}}</span>
                            <span class="badge rounded-pill badge-cart" data-value="inc" data-id={{id}}>+</span>
                            <span>x Rs.{{price}}</span>
                        </div> 
                        <p class="total-cart-price">Rs.{{price}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="banner-cheap cart-product">
                <img src="../../static/images/lowest-price.png" alt="clowest-price-logo">
                <span>You won't find it cheaper anywhere</span>
        </div>
    </div>
    <div class="modal-footer modal-cart-footer">
        <span>Promo code can be applied on payment page</span>
        <button type="button" class="btn btn-bazar price-symbol">
            <span>Proceed To checkout</span>
            <div>
                <span>Rs.{{totalCartPrice}}</span>
                <span class="fas fa-greater-than"></span>
            </div>
        </button>
    </div>
</div> --}}
